/* making width of element like parent --> width: auto; display: block; */

nav{
    display: block;
    background: rgb(215, 215, 215);
    width: 300px;
    position: fixed;
    height: 100%;
}

#JS_documentation{
    position: fixed;
    font-size: 30px;
    /* color: white;
    background: black; */
    padding: 10px;
    font-family: 'Lora', serif;
    border: solid;
    margin: 0px;
    width: 274.25px;
}

.nav-elements{
    margin-top: 60px;
    list-style-type: none;
    margin-left: 0px;
    padding: 4px 0px;
}

.nav-elements li{
    border: 2px solid black;
    align-content: center;
    text-align: center;
    font-size: 25px;
    padding: 7px;
    /* margin-bottom: 2px;
    border-radius: 5px; */
    background: rgb(247, 247, 247);
}
.nav-link{
    text-decoration: none;
    color: black;
}

/* mouse over link */
.nav-link:hover {
    font-weight: bold;
  }

/* selected link */
.nav-link:visited {
    color: black;
}


/* MAIN PART */
main{
    position: absolute;
    padding: 20px;
    left: 310px;
    border: double gray;
}

header{
    font-size: 30px;
    font-weight: bold;
}

p{
    margin-left: 20px;
    font-size: 18px;
}

ul{
    margin-left: 20px;
    font-size: 18px;
}

code{
    margin-left: 35px;
    font-size: 14px;
    background: rgb(242, 242, 242);
    width: auto;
    display: block;
    padding: 15px;
    border-radius: 5px;
}
/* 
@media only screen and (max-width: 770px) {
    #main-doc {
      margin-left: -10px;
    }
} */